#dish-wrapper {
    display: flex;
    flex-direction: row;
}

#dish-wrapper > img {
    width: 640px;
    height: 480px;
}

#dish-detail-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

/*COUNTER*/
.dish-counter-template {
    margin: 0;
    padding: 0;
}

.dish-counter-template h2 {
    font-size: 16px;
}

.dish-counter-template {
    margin: 0;
    padding: 15px 0 0 0;
}

.dish-counter-template p {
    padding-top: 4px;
}

.dish-counter-template-row {
    display: flex;
    flex-direction: row;
}

.dish-counter-template p {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.dish-counter-template span svg {
    height: 14px;
    width: 14px;
    fill: #fff;
}

.dish-counter-template span,
.dish-counter-template input {
    display: flex;
    font-size: 24px;
    border: 2px solid #b5692a;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0);
    color: inherit;
    outline: none;
    align-items: center;
}

.dish-counter-template span:first-child,
.dish-counter-template span:last-child {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.dish-counter-template span:first-child:hover > svg,
.dish-counter-template span:last-child:hover > svg {
    fill: #ffed4a;
}

.dish-counter-template span:first-child:active,
.dish-counter-template span:last-child:active {
    border-color: rgba(181, 105, 42, 0.5);
}

.dish-counter-template span:first-child {
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    border-right: 0;
}

.dish-counter-template span:last-child {
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    border-left: 0;
}

.dish-counter-template input {
    display: inline;
    text-align: center;
    width: 70px;
}

#dish-detail-wrapper > div.dish-counter-template > button {
    border: 2px solid #b5692a;
    background: rgba(0, 0, 0, 0);
    color: inherit;
    width: 174px;
    height: 50px;
    border-radius: 22px;
    cursor: pointer;
}

#dish-detail-wrapper > div.dish-counter-template > button:hover {
    color: #ffed4a;
}

#dish-detail-wrapper > div.dish-counter-template > button:active {
    border-color: rgba(181, 105, 42, 0.5);
}

/*COUNTER END*/
