#main-wrapper h2 {
    font-size: 18px;
}

.text_decorated {
    text-decoration: underline;
}

#app {
    min-height: 99.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
