main .center_box a {
    color: #fff;
    outline: none;
}

main .center_box p {
    padding-bottom: 20px;
}

main #menu-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

main #menu-wrapper .category-item-wrapper {
    height: 271px;
    border: 2px solid #b5692a;
    position: relative;
    overflow: hidden;
}

main #menu-wrapper .category-item-wrapper:hover
{
    -webkit-box-shadow: 0px 0px 9px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 9px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 9px 5px rgba(34, 60, 80, 0.2);
}

main #menu-wrapper h2 {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 20px;
    text-shadow: 0px 0px 20px #000000;
}

@media screen and (max-width: 1199px) {
    main #menu-wrapper .category-item-wrapper {
        height: 226px;
    }
}

@media screen and (max-width: 991px) {
    main #menu-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    main #menu-wrapper .category-item-wrapper {
        height: 261px;
    }
}

@media screen and (max-width: 767px) {
    main #menu-wrapper .category-item-wrapper {
        height: 193px;
    }
}

@media screen and (max-width: 579px) {
    main #menu-wrapper {
        grid-template-columns: repeat(1, 1fr);
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    main #menu-wrapper .category-item-wrapper {
        height: 361px;
    }
}

@media screen and (max-width: 519px) {
    main #menu-wrapper {
        width: 360px;
    }
    main #menu-wrapper .category-item-wrapper {
        height: 271px;
    }
}

@media screen and (max-width: 399px) {
    main #menu-wrapper {
        width: 300px;
    }
    main #menu-wrapper .category-item-wrapper {
        height: 226px;
    }
}
