/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Конец ресета */

@font-face {
    font-family: 'MyLobster';
    src: url('../fonts/Lobster-Regular.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MySansita';
    src: url('../fonts/SansitaSwashed-VariableFont_wght.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MySansita';
    src: url('../fonts/SansitaSwashed-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MyRoboto';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'MyRoboto';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MyUbuntu';
    src: url('../fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyUbuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*@font-face{*/
/*    font-family: 'MyLobster';*/
/*    src: url('fonts/Lobster-Regular.ttf');*/
/*    font-weight: normal;*/
/*    font-style: italic;*/
/*}*/

/* Начало мейна */
body {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a05d26;
}

header {
    /*background-color: #b47c37;*/
    position: fixed;
    top: 0;
}

header, nav, main, footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

header, header .center_box {
    height: 140px; /* Высота хедера */
    font-family: MySansita, cursive;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #b5692a;
    z-index: 1000;
}

header .center_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(160, 93, 38, 0.8);
}

header #logo {
    width: 120px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

header #logo a {
    text-decoration: none;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header #logo h1 {
    color: #fff;
    font-size: 42px;
    line-height: 80%;
}

header #logo h2 {
    color: #fff;
    font-size: 28px;
}

header #logo h3 {
    color: #fff;
    font-family: MyLobster, cursive;
    font-size: 21px;
    line-height: 80%;
}

#dashboard-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
}

#dashboard-wrapper-small {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
/*#dashboard-wrapper img.shopingcart {*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    margin-left: 40px;*/
/*    margin-right: 1px;*/
/*}*/

/*#dashboard-wrapper img.lang_selector {*/
/*    width: 52px;*/
/*    height: 20px;*/
/*    margin-left: 40px;*/
/*    margin-right: 1px;*/
/*    padding-left: 1px;*/
/*    padding-right: 1px;*/
/*}*/

/*img.lichniy_cabinet {*/
/*    margin-left: 40px;*/
/*    margin-right: 1px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*}*/

nav {
    /*width: 610px;*/
    /*height: 70px;*/
    /*display: none;*/
    /*position: fixed;*/
    /*top: 40px; !* Высота хедера *!*/
    /*background-color: #008000;*/
    height: 40px; /* Высота нава */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /*height: 40px;*/
}

nav a {
    font-weight: bold;
    color: #fff;
    /*color: #717171;*/
    font-family: MyRoboto, sans-serif;
    text-decoration: none;
    margin-left: 25px;
    font-size: 0;
}

#dashboard-wrapper {
    display: none;
}

img.shopingcart {
    height: 30px;
    width: 30px;
    margin-left: 40px;
    margin-right: 1px;
}

img.lang_selector {
    width: 52px;
    height: 20px;
    margin-left: 40px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

img.lichniy_cabinet {
    margin-left: 40px;
    margin-right: 1px;
    width: 30px;
    height: 30px;
}

/* MENU */
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    /*position: fixed;*/
    position: relative;
    /*top: 20px;*/
    /*left: 20px;*/
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.hamburger-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 140px;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(236, 239, 241, .9);;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

ul.menu__box {
    padding-top: 40px;
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #a05d26;
    font-family: MyUbuntuLight, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .7s;
}

.menu__box {
    transition-duration: .7s;
}

.menu__item {
    transition-duration: .7s;
}

/* MENU END */

main {
    flex-grow: 3;
    color: #fff;
    margin-top: 160px; /* Высота хедера + Высота нава*/
    padding-bottom: 50px;
}

main .center_box {
    font-family: MyUbuntuLight, sans-serif;
    /*padding-top: 20px;*/
}

main > div.center_box > h2 {
    padding-bottom: 25px;
}

main .center_box img, main .center_box iframe {
    box-shadow: 0 0 10px #643f1f;
}

.nav-text {
    padding-bottom: 20px;
}

.nav-text a {
    color: #fff;
}

footer {
    border-top: 2px solid #b5692a;
}

footer, footer .center_box {
    height: 70px;
    /*border: 0;*/
}

footer .center_box > a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

footer .center_box {
    color: #fff;
    font-family: MyUbuntuLight, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-bottom {
    display: flex;
    align-items: center;
}

footer .social-bottom a {
    margin-left: 20px;
}

footer .social-bottom img {
    width: 20px;
    height: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

.center_box {
    width: 540px;
    padding-right: 10px;
    padding-left: 10px;
}

body {
}
